<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Hombres de negro</title>
</head>
<body>
    <body background="img\outerspace-6.gif">
    <h1 class="texto">
        <font size="8" face="Verdana" style="color: white">
            Hombres De Negro La Trilogía
        </font>
    </h1>
    <div class="imagen"> 
        <img src="img/mib.jpg" alt="Los hombres de negro" width="340" height="400"> 
    </div>
    <h2 class="texto">
        <font size="8" face="Verdana" style="color: white"> 
            Resumen de las películas 
        </font> 
    </h2> 
    <br>
    <br>
    <div class="d-flex justify-content-around">
        <a href="pagina1.html" class="numero1">
        <font size="6" face="Verdana">
            Película 1
        </font>
        </a>
        <a href="pagina2.html" class="numero1">
            <font size="6" face="Verdana">
                Película 2
            </font>
        </a>
        <a href="pagina3.html" class="numero1">
            <font size="6" face="Verdana">
                Película 3
            </font>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" >
        <h5 class="texto">
            <font size="10" face="Verdana" style="color: white">
                Datos curiosos de Hombres De Negro
            </font>
        </h5>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    1. Will Smith fue elegido para interpretar al protagonista porque la mujer del director Barry Sonnenfeld era muy fan de “El Príncipe de Bel-Air”.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    2. Will Smith casi pasó del papel porque no se creía que le llamase Steven Spielberg por teléfono para hablar con él de la película.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    3. Sin embargo, la que finalmente lo convenció para que sí lo hiciera fue su mujer, Jada Pinkett.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    4. La primera opción para hacer de K fue el actor Clint Eastwood, pero rechazó el papel.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    5. Tommy Lee Jones rechazó el papel cuando lo leyó por primera vez, pero Steven Spielberg le prometió que cambiarían el guión y lo harían mucho mejor, y más cómico.
                </font>
            </h5>
          </div>
          <div class="col">
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    6. Entre otros, los “aliens conocidos” de los que hablan, podemos ver a Sylvester Stallone, Danny DeVito, George Lucas y Steven Spielberg.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    7. Las gafas que se utilizan en la película son el modelo “Predator 2”, de la marca Ray-Ban. Después del estreno de la película, el número de ventas se triplicó.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    8. El éxito de esta película inspiró a Marvel, propietaria de los derechos, a desarrollar proyectos como “Spiderman” (2002)
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    9. Chris O’Donnell era el favorito para hacer de J, pero lo rechazó tras lo sucedido en “Batman y Robin” (1997). Después, se lo ofrecieron a David Schwimmer, pero el actor estaba ocupado con “Friends”.
                </font>
            </h5>
            <br>
            <h5 class="texto">
                <font size="5" face="Verdana" style="color: white">
                    10. La actriz Linda Fiorentino “ganó” su papel en la película en una partida de póquer con el director.
                </font>
            </h5>
          </div>
        </div>
      </div>
    <br>
    <br>
</body>
</html>