<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <body background="img\outerspace-6.gif">
        <h2 class="tamaño">
            <font size="8" face="Verdana" style="color: white"> 
                Tercera película 
            </font> 
        </h2> 
        <br>
        <h3 class="tamaño">
            <font size="6" face="Verdana" style="color: white">
                Tercera película("Men In Black 3")
            </font>
        </h3>
        <div class="" id="imagen-izq"> 
            <img src="img/mib3.jpg" alt="Los hombres de negro n°1" width="160" height="180"> 
        </div>
        <br>
        <h5 class="tamaño">
            <font size="6" face="Verdana" style="color: white">
                Sinopsis
            </font>
        </h5>
        <p class="tamaño">
            <font size="4" face="Verdana" style="color: white">
                A pesar de que los agentes J y K han estado protegiendo la Tierra de la escoria alienígena por años, J sigue sin saber mucho acerca de su compañero. Sin embargo, tiene la oportunidad inesperada de conocer más a K cuando un criminal llamado Boris el Animal escapa, regresa al año 1969 y mata a K. Con el futuro del planeta en juego, J regresa en el tiempo y se une a un joven K para arreglar las cosas.
            </font>
        </p>
        <h5 class="tamaño">
            <font size="5" face="Verdana" style="color: white">
                Fecha de estreno: 25 de mayo de 2012
            </font>
        </h5>
        <br>
        <h5 class="tamaño">
            <font size="5">
                Duración: 106 min
            </font></h5>
            <br>
        <h5 class="tamaño">
            <font size="5" face="Verdana" style="color: white">
                Música compuesta por: Danny Elfman
            </font></h5>
            <br>
        <h5 class="tamaño">
            <font size="5" face="Verdana" style="color: white">
                Guion:  Etan Cohen, David Koepp, Jeff Nathanson, Michael Soccio
            </font></h5>
            <br>
        <h5 class="tamaño">
            <font size="5" face="Verdana" style="color: white">
                Dirección: Barry Sonnenfeld
            </font></h5>
            <br>
        <table>
                <tr class="text-center">
                    <th colspan="3" size="10" bgcolor="efefef">Intérpretes</th>
                </tr>
                <tr class="text-center">
                    <th colspan="1" size="7" bgcolor="efefef">Actores</th>
                    <th colspan="1" size="7" bgcolor="efefef">Personajes</th>
                    <th colspan="1" size="7" bgcolor="efefef">Actor de voz (Hispanoamérica)</th>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente K</td>
                    <td>Tommy Lee Jones</td>
                    <td>Blas García</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente J / James Darrell Edwards III</td>
                    <td>Will Smith</td>
                    <td>Juan Alfonso Carralero</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente K(Joven)</td>
                    <td>Josh Brolin</td>
                    <td>Juan Antonio Bernal</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Boris el animal</td>
                    <td>Jemaine Clement</td>
                    <td>Alfonso Vallés</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente O</td>
                    <td>Emma Thompson</td>
                    <td>Mercedes Montlá</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Griffin</td>
                    <td>Michael Stuhlbarg</td>
                    <td>Luis Posdada</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Jeffrey Price</td>
                    <td>Michael Chernus</td>
                    <td>José Javier Serrano</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Andy Warhol/Agente W</td>
                    <td>Bill Hader</td>
                    <td>Xavier Fernández</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente X</td>
                    <td>David Rashe</td>
                    <td>Jaume Coma</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Coronel Edward</td>
                    <td>Mike Colter</td>
                    <td>Eduard Farelo</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Wu</td>
                    <td>Keone Young</td>
                    <td>Carles Canut</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Fans de los New Yorks Mets</td>
                    <td>Joseph R. Gannascoli</td>
                    <td>Joaquín Gómez</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Alien cabeza de bolo</td>
                    <td>Lenny Venito</td>
                    <td>Rafael Calvo</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente O(Joven)</td>
                    <td>Alice Eve</td>
                    <td>Cristina Mauri</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Agente AA</td>
                    <td>Will Arnet</td>
                    <td>Carlos Di Blasi</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Guardia del MIB</td>
                    <td>Woodie King JR.</td>
                    <td>Manuel Ceinos</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Guardia del MIB(1969)</td>
                    <td>Jack(II)O'Connell</td>
                    <td>César Lechiguero</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Alienígena cerebro</td>
                    <td>Rick Baker</td>
                    <td>Gonzalo Abril</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Policía 1</td>
                    <td>Desconocido</td>
                    <td>Enric Isa Si-isa Smendi</td>
                </tr>
                <tr class= "color" bgcolor="efefef">
                    <td>Policía 2</td>
                    <td>Desconocido</td>
                    <td>Joaquín Gómez</td>
                </tr>
        </table>
        <br>
        <h11 class="tamaño">
            <font size="6" face="Verdana" style="color: white">
                Resumen
            </font></h11>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                Mientras en la Tierra se celebra el funeral por el agente Z, cuyo cargo pasó a ocupar la agente O, Boris el Animal, el último superviviente de los bogloditas consigue escapar de la prisión lunar donde permanecía desde que 40 años antes lo detuviera el Agente K tras dejarle sin su brazo izquierdo.Una aparentemente inocente tarta de cumpleaños que incluía en su interior un diminuto pero potentísimo ser, ayuda a Boris a cortar sus cadenas, tras lo que se introduce en su cuerpo, consiguiendo deshacerse de sus carceleros, disponiéndose para regresar a la tierra y viajar en el tiempo hasta 1969 para poder recuperar su brazo y vengarse de K.La noticia de la huida y la llegada de un satélite a la Tierra alerta a los Hombres de Negro, que acuden a un restaurante chino regentado por extraterrestres y donde esperan que acuda el fugitivo en busca de su comida favorita.
                En efecto Boris llega hasta allí, y tras un duro enfrentamiento consiguen escapar, aunque saben que desea acabar con K.
                J trata de interrogar a K sobre el asunto, aunque este se niega a contarle nada, estando restringido el acceso a dicho expediente en la base de datos del MIB.
            </font></h5>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                Solo consigue saber que los bogloditas arrasaban con todos los seres vivos de los lugares por donde pasaban y que K consiguió evitar que hicieran lo mismo con la Tierra consiguiendo desplegar en el año 1969 desde Cabo Cañaveral el ArcNet, una red de seguridad que protege al planeta del ataque boglodita, obligando a los invasores a continuar su periplo por el espacio, lo que supuso su extinción, al no tener suficientes víveres para llegar al siguiente planeta habitado.
                Y de pronto todo cambia sin que J encuentre ninguna explicación.
                Acude a casa de K, pero todo es diferente y no está allí, siendo recibido de regreso al cuartel por un hombre al que no conoce y que afirma que es el Agente Doble A, su compañero, descubriendo una vez dentro que nadie conoce a K.
                Solo la Agente O lo recuerda y le muestra una escultura de K, muerto en 1969, dándose cuenta por la actitud y los síntomas de J, - que tiene deseos constantes de tomar chocolate caliente - de que se ha visto implicado en una fisura temporal.
            </font></h5>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                Enseguida comprobará que esto es así, pues de pronto se anuncia la llegada de un ataque boglodita al no existir el ArcNet para evitarlo, lo que significa que Boris consiguió viajar en el tiempo 40 años atrás.
                J acude a ver al mismo individuo que le facilitó a Boris el dispositivo para saltar en el tiempo, debiendo lanzarse desde un rascacielos hasta el 15 de julio de 1969, un día antes que Boris.
                Una vez en el pasado acude al parque de atracciones donde sabe que Boris mató a otro extraterrestre, aunque no puede acabar con él, pues un joven K se lo impide, deteniéndolo y llevándolo hasta la sede de los MIB donde ve a la joven Agente O tonteando con K.
                Una vez allí están a punto de neuralizarlo, aunque finalmente lo perdonará cuando le dice que va a morir, para escuchar lo que tiene que decirle.
                Investigan juntos yendo hasta una fiesta donde descubre que Andy Warhol es un agente de los suyos, el agente W, y donde coinciden con Griffin, un arcaniano capaz de ver con antelación el futuro y que promete entregarles el ArcNet, aunque antes de entregárselo es raptado por Boris.
            </font></h5>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                J y K los siguen y consiguen liberar a Griffin cuando Boris sufre un accidente del que sale con vida.
                Irán con Griffin, que consiguió ocultar el ArcNet bajo su sombrero, hasta el Shea Stadium, donde les entrega el dispositivo, que, para poder ser colocado en el espacio debe ser desplegado en este, para lo que deberán aprovechar que está a punto de lanzarse al espacio el Apolo XI, para colocar en él el dispositivo.
                Entretanto se reencuentran el nuevo Boris y el antiguo, que se reprochan mutuamente sus debilidades y fallos, uniendo sus fuerzas para lograr sus objetivos.
                K y J deben partir hacia Cabo Cañaveral, y utilizarán unos potentes propulsores, que J sabe que no existen en el futuro, lo que le da por pensar que no son muy fiables, aunque es el único modo de llegar a tiempo a Florida.
                Una vez allí deben acceder a la nave, aunque son detenidos por la policía militar, aunque solo podrán convencer al mando de estos cuando Griffin le muestra lo que ocurriría en el futuro si no les permiten subir hasta el cohete y colocar en su punta el ArcNet, cuando está a punto de llegar la cuenta atrás.
                Pero allí están también los dos Boris, dispuestos a evitar que puedan cumplir su misión y deseosos de vengarse de K, por lo que tratan de evitar que llegue a su destino, enfrentándose J al Boris viejo y K al joven, como ya ocurrió en el pasado.
            </font></h5>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
        J consigue gracias al dispositivo que le ayudó a viajar en el tiempo volver un minuto atrás, sabiendo ya cómo fue el ataque de Boris, pudiendo de ese modo vencerlo lanzándolo al vacío.
        Entretanto K debe enfrentarse al joven Boris, y al igual que en la anterior ocasión le vuela el brazo, consiguiendo colocar el ArcNet unos segundos antes de que la nave despegue, calcinando al viejo Boris.
        Cuando regresa abajo le espera Boris, aunque en esta ocasión, en vez de arrestarlo acaba con él, aunque sin poder impedir que antes acabe con el Coronel.
        J pudo observarlo todo, justo antes de partir de nuevo hacia el presente, viendo cómo un niño, James busca a su padre, que no es otro que el Coronel.
            </font>
        </h5>
        <br>
        <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                K lo consuela, y, tras neuralizarlo le da al niño un reloj de su padre y le dice que este fue un héroe y que él cuidará de él.
                J, tras comprobar que el reloj del niño es el mismo que él tiene, se da cuenta de que ese es el motivo por el que no recuerda nada de su padre, aunque regresa feliz sabiendo que su padre murió como un héroe.
                Por ello cuando vuelve a encontrarse con K en una cafetería él comprende que siempre estuvo velando por él, comprendiéndolo mucho mejor.
                A su lado está Griffin, que dice que ese es su nuevo momento favorito en la historia, a menos que sea el día en que K olvida dar propina y cae un meteorito sobre la tierra.
                Observamos que a K se le olvidó la propina, aunque en el último momento regresa y la deja.
            </font>
        </h5>
        <br>
        <div class="d-flex justify-content-around">
            <a href="index.html" class="numero1">
            <font size="6" face="Verdana">
                Pagina principal
            </font>
            </a>
            <a href="pagina1.html" class="numero1">
                <font size="6" face="Verdana">
                    Película 1
                </font>
            </a>
            <a href="pagina2.html" class="numero1">
                <font size="6" face="Verdana">
                    Película 2
                </font>
            </a>
        </div>
        <br>
</body>
</html>