<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <body background="img\outerspace-6.gif">
    <h2 class="tamaño">
        <font size="8" face="Verdana" class= "color" style="color: white"> 
            Segunda película 
        </font> 
    </h2> 
    <br>
    <h3 class="tamaño">
        <font size="6" face="Verdana" class= "color" style="color: white">
            Segunda película("Men In Black II")
        </font>
    </h3>
    <div class="" id="imagen-izq"> 
        <img src="img/mib2.jpg" alt="n°2" width="160" height="180"> 
    </div>
    <br>
    <h5 class="tamaño">
        <font size="6" face="Verdana" class= "color" style="color: white">
            Sinopsis
        </font>
    </h5>
    <p class="tamaño">
        <font size="4" face="Verdana" class= "color" style="color: white">
            Han pasado cuatro años desde que J y K evitaran un rescate intergaláctico. Desde entonces, K ha regresado a la vida civil y J continúa con su trabajo. Sin embargo, deben volver a trabajar juntos cuando descubren un diabólico plan dirigido por Serleena, un verdadero monstruo que se hace pasar por una atractiva modelo.
        </font>
    </p>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Fecha de estreno: 03 de Julio 2003
        </font>
    </h5>
    <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Duración: 90 min
        </font>
    </h5>
    <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Música compuesta por: Danny Elfman
        </font></h5>
    <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Guion: Robert Gordon, Barry Fanaro
        </font></h5>
    <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Dirección: Barry Sonnenfeld
        </font></h5>
        <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Productores: Barry Sonnenfeld, Laurie MacDonald, Walter F. Parkes
        </font>
    </h5>
    <br>
    <h5 class="tamaño">
        <font size="5" face="Verdana" class= "color" style="color: white">
            Historia escrita por: Lowell Cunningham, Robert Gordon
        </font>
    </h5>
    <br>
    <table>
            <tr class="text-center">
                <th colspan="3" size="9" class="color" bgcolor="efefef">Intérpretes</th>
            </tr>
            <tr class="text-center">
                <th colspan="1" size="7" class="color" bgcolor="efefef">Personajes</th>
                <th colspan="1" size="7" class="color" bgcolor="efefef">Actores</th>
                <th colspan="1" size="7" class="color" bgcolor="efefef">Actor de voz (Hispanoamérica)</th>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Agente K</td>
                <td>Tommy Lee Jones</td>
                <td>Blas García</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Agente J / James Darrell Edwards III</td>
                <td>Will Smith</td>
                <td>Juan Alfonso Carralero</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Serleena</td>	
                <td>Lara Flynn Boyle</td>	
                <td>Sarah Souza</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Laura Vásquez</td>	
                <td>Rosario Dawson</td>	
                <td>Yolanda Vidal</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Rip Torn</td>
                <td>Agent Zed</td>
                <td>Jorge Fink</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Agente G</td>	
                <td>Sid Hilman</td>
                <td>Roberto Mendiola
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Agente M</td>	
                <td>Michael Jackson</td>		
                <td>Eduardo Garza</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Agente T</td>
                <td>Patrick Warburton</td>
                <td>Arturo Mercado Jr.</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Frank El Perro</td>
                <td>Tim Blaney</td>
                <td>Yamil Atala</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Scrad & Charlie</td>	
                <td>Johnny Knoxville</td>		
                <td>Sergio Gutiérrez Coto</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Jack Jeebs</td>	
                <td>Tony Shalhoub</td>		
                <td>Martín Soto</td>
            </tr>	
            <tr class= "color" bgcolor="efefef">
                <td>Newton</td>	
                <td>David Cross</td>		
                <td>Daniel Abundis</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Ben el sartiano</td>	
                <td>Jack Kehler</td>		
                <td>Arturo Mercado</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Jarra</td>	
                <td>John Alexander</td>		
                <td>Humberto Solórzano</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Peter Graves</td>	
                <td>Peter Graves</td>		
                <td>Rubén Moya</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Hailey</td>	
                <td>Colombe Jacobsen-Derstine</td>		
                <td>Elsa Covián</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Neeble</td>	
                <td>Thom Fountain</td>		
                <td>José Gilberto Vilchis</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td>Princesa Laurama</td>	
                <td>Linda Kim</td>		
                <td>Cristina Camargo</td>
            </tr>	
            <tr class= "color" bgcolor="efefef">
                <td>Capitán Larry</td>	
                <td>Peter Spellos</td>		
                <td>Esteban Siller</td>
            </tr>
            <tr class= "color" bgcolor="efefef">
                <td> Mamá de Newton</td>	
                <td>Kristin Charney	</td>		
                <td>Nancy McKenzie</td>
            </tr>	
            <tr class= "color" bgcolor="efefef">
                <td>Elizabeth</td>	
                <td>Chloe Sonnenfeld</td>		
                <td>Gaby Ugarte	</td>
            </tr>			
    </table>
    <h11 class="tamaño">
        <font size="6" face="Verdana" class= "color" style="color: white">
            Resumen
        </font></h11>
        <br>
    <h5 class="tamaño">
        <font size="3" face="Verdana" style="color: white">
        En Hombres de Negro II, Jay (Will Smith) y Kay (Tommy Lee Jones) se vuelven a unir para proporcionar nuestra mejor, última y única línea de defensa contra una siniestra seductora que supone el mayor reto de la principal e intachable misión de los Hombres de Negro: proteger la Tierra de la escoria del universo. Han pasado cuatro años desde que los agentes buscadores de extraterrestres evitaran un desastre intergaláctico de proporciones épicas. Desde entonces Kay ha regresado a las comodidades de la vida civil mientras que Jay continua su trabajo para los Hombres de negro, la agencia del gobierno no oficial fundada hace tiempo y que regula todo lo relacionado con los extraterrestres en la Tierra.
        </font></h5>
        <br>
    <h5 class="tamaño">
            <font size="3" face="Verdana" style="color: white">
                Mientras investigan lo que parece un crimen rutinario, Jay descubre un diabólico plan dirigido por Serleena (Lara Flynn Boyle), un diabólico monstruo que se hace pasar por una atractiva modelo de lencería. Cuando Serleena toma como rehenes a todo el edificio de los Hombres de Negro, sólo queda una persona a quien Jay puede recurrir: su antiguo compañero en los Hombres de Negro quien ahora es un monótono trabajador en otra de las oficinas del gobierno, el servicio de correos de los E.E.U.U y prefiere los placeres simples de la vida, como las galletas de su mujer, a las situaciones con los gigantescos insectos extraterrestres.
            </font></h5>
        <br>
    <h5 class="tamaño">
           <font size="3" face="Verdana" style="color: white">
                Es una carrera contrarreloj y Jay tiene que convencer a Kay para que se una a Los Hombres de Negro antes de que la Tierra sea destruída. Kay no sólo no recuerda absolutamente nada del tiempo que pasó en Los Hombres de Negro, sino que es la única persona que queda viva con la suficiente experiencia para salvar la galaxia.
            </font></h5>
        <br>
        <div class="d-flex justify-content-around">
            <a href="index.html" class="numero1">
            <font size="6" face="Verdana">
                Pagina principal
            </font>
            </a>
            <a href="pagina1.html" class="numero1">
                <font size="6" face="Verdana">
                    Película 1
                </font>
            </a>
            <a href="pagina3.html" class="numero1">
                <font size="6" face="Verdana">
                    Película 3
                </font>
            </a>
        </div>
        <br>
</body>
</html>